<div class="gallery">
$for(gallery-images)$
<a href="/img/$gallery.folder$/$it.id$-full.jpg" data-fancybox="$gallery$" data-caption="$it.caption$">
  <img src="/img/$gallery.folder$/$it.id$-small.jpg" />
</a>
$endfor$
</div>
$if(gallery.caption)$<p>$gallery.caption$</p>$endif$
