<div id="sidebar"> <!-- Anfang Sidebar -->

<ul id=lang class="phbox navigation">
  <li$if(lang-en)$ class="current"$endif$><a href="$if(lang-de)$$if(other-language)$/en/$other-language$$else$/en/welcome$endif$$else$$url$$endif$">English</a></li>
  <li$if(lang-de)$ class="current"$endif$><a href="$if(lang-en)$$if(other-language)$/de/$other-language$$else$/de/willkommen$endif$$else$$url$$endif$">Deutsch</a></li>
</ul> <!--/lang-->

<div id="menu">
  <ul class="navigation phbox">
$for(pages)$
    <li$if(it.current)$ class="current"$endif$><a href="$it.url$">$if(it.name)$$it.name$$else$[???]$endif$</a>
$endfor$
  </ul>
</div>

$if(subpages)$
<div id="submenu">
  <ul class="navigation phbox">
$for(subpages)$
    <li$if(it.current)$ class="current"$endif$><a href="$it.url$">$if(it.name)$$it.name$$else$[???]$endif$</a>
$endfor$
  </ul>
</div>
$endif$
</div> <!-- Ende Sidebar -->
