/*
Theme fuer Pascal Haering
Author: Manuel Schmid
*/

/* Farbschema
--------------------------------------------------------------------------------------- */

/*
Rot (Hintergrund Seite): #CC071E
Orange (Hintergrund Elemente): #FFA000
Schwarz (Vordergrund): black #000
*/

/* Reset
--------------------------------------------------------------------------------------- */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
/* Globals und Typo 
--------------------------------------------------------------------------------------- */

html {
/* Wahlweise Grid-Hintergrund
Rasterhintergrund, der die Breite bis 100 Pixel und eine Höhe bis 950 Pixel anzeigt. Die Breite von 960 Pixel ist markiert. Der Hintergrund ist transparent, muss also nicht nur mit #fff verwendet werden. Es wird eine SchriftgröÃe von 75% oder 12px festgelegt.
	background: #fff url(bilder/grid.png) top left no-repeat;
*/	
	background: #CC071E;
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
}

body {
/* 	font-size: 75%; */
}

html>body {
/* 	font-size: 12px; */
}

a:link, a:visited {
	color: #CC071E;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Macht die gepunktete Linie um geklickte Links unsichtbar
--------------------------------------------------------------------------------------- */
a:focus {
    outline: none;
}


/* Vertikaler Rhythmus basierend auf 12px BasisgröÃe für den FlieÃtext
--------------------------------------------------------------------------------------- */
p {
	font: 1em/1.5em "Trebuchet MS", Trebuchet, sans-serif;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h2 {
	font: bold 2em/1em "Trebuchet MS", Trebuchet, sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
}

h3 {
	font: 1.5em/1.13em "Trebuchet MS", Trebuchet, sans-serif;
	margin-top: 1.13em;
	margin-bottom: 1.13em;
}

h4 {
	font: 1.33em/1.29em "Trebuchet MS", Trebuchet, sans-serif;
	margin-top: 1.29em;
	margin-bottom: 1.29em;
}


/* Bilder und verlinkte Bilder ohne Rahmen 
--------------------------------------------------------------------------------------- */
img, a img {
	border: 0;
}


/* Links- bzw. Rechtsausrichtung für Elemente
--------------------------------------------------------------------------------------- */
.links {
	float: left;
	margin: 0 0.5em 0.5em 0;
}

.rechts {
	float: right;
	margin: 0 0 0.5em 0.5em;
}



/* Layoutelemente
Verwenden Sie overflow: hidden; um nötige Floats aufzulösen.
--------------------------------------------------------------------------------------- */
.phbox {
background: #FFA000;
border: 1px solid black;
}

#wrapper {
margin: 0 auto;
position: relative;
width: 960px;
padding: 10px;
overflow: hidden;
}

#header {
margin-top: 35px;
width: 360px;
height: 60px;
background-image: url('/img/logo.png');
text-indent: -999em;
display: inline-block;
}

#sidebar {
position: absolute;
right: 10px;
top: 90px;
width: 220px;
}

#menu ul {
float: right;
margin-bottom: 50px;
width: 7.5em;
}

.navigation {
list-style-type: none;
padding: 10px 20px;
text-align: right;
}

.navigation a {
font: 1.3em/1.5em "Trebuchet MS", Trebuchet, sans-serif;
color: black !important;
}

.navigation a:hover {
text-decoration: none;
font-weight: bold;
}

.navigation .current a {
font-weight: bold;
}

#lang {
text-align:center;
margin-bottom:30px;
padding:10px;
float:left;
margin-left:-60px;
}

.page-1 #lang {
display:none;
}
#lang li {
float:left;
width:70px;
}

#lang a {
font-size:16px;
}

#submenu ul {
clear: right;
float: left;
list-style-type: none;
padding: 10px 20px;
width: 7em;
}

#content {
float: left;
padding: 20px;
margin-top: 80px;
margin-left: 80px;
margin-bottom: 40px;
width: 580px;
}

img.float {
  float:left;
  margin-right:20px;
  margin-bottom:5px;
}

.gallery {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  a {
    flex:none;
    text-align:center;
    margin-top:20px;
  }
  img {
    display:inline-block;
    width:130px;
    height:130px;
  }
}
